body,html{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.header{
    text-align: center;
    margin-top: 1rem;
    font-size:4rem;
    font-weight: 800;
    font-family: cursive;
    color:darkslategray;
}
.footer{
    background-color: #3498db;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin-top: -10px;
    flex: 1;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    /* Gap between grid items */
    max-width: 80%; /* Adjust maximum width of the container */
    max-height: 80vh; /* Adjust maximum height of the container */
    border: 2px solid #ccc;
    overflow: auto; /* Enable scrolling if content exceeds the container's height */
}

.grid{
    /* flex-basis: calc(100% / 10 - 2px); n columns with gap */
    aspect-ratio: 1; /* Maintain a square aspect ratio for grid items */
    background-color: white;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

 /* styling the button */
.options button {
    width: 6rem;
    margin-right: 0.9rem;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #2980b9;
}

.pen-options {
    margin: 2rem 0;
    gap: 5px;
    display: none;
    /* visibility: hidden; */
    position: absolute;
    top: 40px;
    
}
.pen-options button{
    cursor: pointer;
    border-radius: 200%;
}

.pen-options .red{
    background-color: red;
}
.pen-options .black{
    background-color:black;
}
.pen-options .green{
    background-color: green;
}
.pen-options .blue{
    background-color: blue;
}
.pen-options .orange{
    background-color: orange;
}

